       /* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
      /*            A FILE STYLES.CSS          */ 
     /*                                       */  
    /* COPYRIGHT © | 2024 DONKEYKONG CONPANY */   
   /*                                       */    
  /*              CSS3 FILE                */     
 /*              CSS3 PROG                */      
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */       


body {
	font-family: Arial, sans-serif;
	color: #ffffff;
	text-align: center;
	background-image: url("../images/font.png");
	background-repeat: no-repeat;
	background-size: cover;
}

button, input[type="button"], input[type="submit"]{
	height: 40px;
	cursor: pointer;
	border: none;
	border-radius: 20px!important;
}

button[type="submit"], input[type="submit"]{
	background: #ff0013;
}

.jaune {
	color: #ffff00;
}

.rouge {
	color: #ff0000;
}

.noir {
	color: #000000;
}

.surligner-bleu {
	background-color: #0000ff;
}

a.non-souligne {
	text-decoration: none;
	color: #ffffff;
}

.surligner-rouge {
	background-color: #ff0000;
}

.textecentre{
	text-align: center;
}

a.souligne-blanc {
	text-decoration-line: underline;
	text-decoration-color: #ffffff;
	color: #ffffff;
}

.surligner-blanc {
	background-color: #ffffff;
}
