/* Code ci-dessous codé par TocToc de mydkong
 *
 *
 *                             .k        .K.                             
 *                          .xXXKo    .xXXXd.                           
 *                        .xXXXXXXXo'xXXXXXXXx.                         
 *   oXXx.              .xXXXXXXXX'   ,XXXXXXXXk.                       
 * oXXXXXXO,          .xXXXXXXXX.       .XXXXXXXXk,                     
 * .XXXXXXXX0;      .kXXXXXXXX.            KXXXXXXX0:        dc         
 *    KXXXXXXXKc  .xXXXXXXXX.     TocToc     0XXXXXXXKc    dXXXKl       
 *      OXXXXXXXXOXXXXXXXX.                    kXXXXXXXXlxXXXXXXXX.     
 *        oXXXXXXXXXXXXX.                        dXXXXXXXXXXXXXX.       
 *          kXXXXXXXXXO  mydkong.github.io/toctoc/  lXXXXXXXXXX.         
 *        .kXXXXXXXXXXXO;                         '0XXXXXXXXXXk.        
 *      'OXXXXXXXXXXXXXXX0:                     ;OXXXXXXXXXXXXXXk,      
 *      .XXXXXXK   0XXXXXXXKl                 ;0XXXXXXXK .KXXXXXXX0:    
 *         XXK       kXXXXXXXXo             ;0XXXXXXXK      KXXXXXXXKc  
 *                     oXXXXXXXXx.        :0XXXXXXXK          0XXXXXXXKc
 *                       ;XXXXXXXXk'    ;0XXXXXXX0              xXXXXk  
 *                         .XXXXXXXX0;,0XXXXXXX0                  ox    
 *                            XXXXXK    kXXXX0                          
 *                              0K        oO                            
 *                                                                      
 * Tous droits réservés
 */

*{
  font-family: Arial, sans-serif;
}

.icon{
  border: none;
  border-radius: 50%;
  background: #fff;
}

a{
  cursor: pointer;
  text-decoration: none;
  width: 15px;
  height: 15px;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(315deg, #f00, #ff0);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.root{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #000;
  position: relative;
  width: 500px;
  height: 75%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

.flex{
  background: #ff9100;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.rejouer{
  border: none;
  border-radius: 30px;
  height: 30px;
  width: 100%;
  cursor: pointer;
  background: #ffbb00;
  color: #000000;
  transition: 0.2s ease;
}

.rejouer:hover{
  background: #ff7c00;
  border-radius: 10px;
}

.link-snake-button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 30px;
  height: 30px;
  width: 100%;
  cursor: pointer;
  background: #ffbb00;
  color: #000000;
  transition: 0.2s ease;
}

.link-snake-button:hover{
  background: #ff7c00;
  border-radius: 10px;
}

.controls{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffbb00;
  border: none;
  gap: 10px;
  border-radius: 30px;
}

a{
  cursor: pointer;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow{
  display: flex;
  cursor: pointer;
}

.left-arrow{
  border: none;
  border-radius: 50%;
  background: #ffbb00;
  transition: 0.2s ease;
}

.left-arrow:hover{
  background: #ff7c00;
  border-radius: 25%;
}

.up-arrow{
  border: none;
  border-radius: 50%;
  background: #ffbb00;
  transition: 0.2s ease;
}

.up-arrow:hover{
  background: #ff7c00;
  border-radius: 25%;
}

.right-arrow{
  border: none;
  border-radius: 50%;
  background: #ffbb00;
  transition: 0.2s ease;
}

.right-arrow:hover{
  background: #ff7c00;
  border-radius: 25%;
}

.down-arrow{
  border: none;
  border-radius: 50%;
  background: #ffbb00;
  transition: 0.2s ease;
}

.down-arrow:hover{
  background: #ff7c00;
  border-radius: 25%;
}
