body {
  margin: 0;
  padding: 0;
  background: #444;
  color: #fff;
}

div.box-account {
  background: #555;
  align-self: first baseline;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 21px;
  margin: 15px;
  transition: all .2s ease, border-radius 1s ease;
}

div.box-account:hover {
  border-radius: 40px;
  background: #ffa600;
}

div.header-menu {
  background: #4D4D4D;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  transition: .2s ease;
}

.header-menu:hover {
  background: #555;
}

.link-in-header {
  width: 100%;
  padding-top: initial;
  padding-bottom: initial;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .2s ease;
  margin: 15px;
  border: none;
  border-radius: 15px;
}

.link-in-header:hover {
  background: #5D5D5D;
}

div.header-menu:hover div.box-account {
  background: #5D5D5D;
}

li {
  display: block;
  cursor: pointer;
}

div.header-menu {
  cursor: default;
  height: 154px;
}

textarea {
  width: 344px;
  height: 178px;
  resize: none;
  background: #00000000;
  border: 4px solid #555;
  border-radius: 25px;
  padding: 8px;
  transition: all .2s ease, border .6s ease;
}

textarea:focus {
  outline: 0 #00000000 solid;
  border: 4px #ccc solid;
  border-radius: 0;
}

textarea:hover{
  border: 4px #666 solid;
  background: #66666625;
  box-shadow: #666 0 0 7px;
}

textarea:focus:hover{
  border: 4px #fff solid;
  background: #ffffff50;
  box-shadow: #fff 0 0 7px;
}

li.img-in-header {
  cursor: default;
}

@media screen and (max-width: 491px){
  div.header-menu {
    flex-direction: column-reverse;
    height: auto;
  }

  div.box-account {
    align-self: auto;
  }

  .link-in-header {
    margin:
10px;
    padding:
0;
    width: 344px;
    height: 30px;
    border-radius:
7px;
  }
}
