body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #444;
  color: #fff;
  padding-left: 8px;
}

input {
  border: 4px #666 solid;
  border-radius: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
  background: #00000000;
  transition: all .2s ease, border-radius 1s ease;
}

input:focus {
  outline: 0 #0000 solid;
  border-radius: 0;
  background: #ffffff95;
  border: 4px #fff solid;
}

input:hover {
  border: 4px #888 solid;
  background: #ffffff25;
  box-shadow: 0 0 10px #888;
}

input:hover:focus {
  border: 4px #fff solid;
  border-radius: 0;
  background: #fff;
  box-shadow: 0 0 7px #fff;
}

button{
  cursor: pointer;
}
