body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #444;
  color: #fff;
  padding-left: 8px;
}

input {
  border: 4px #666 solid;
  border-radius: 15px;
  margin-top: 2px;
  margin-bottom: 2px;
  background: #00000000;
  transition: all .2s ease, border-radius 1s ease;
}

input:focus {
  outline: 0 #0000 solid;
  border-radius: 0;
  background: #ffffff95;
  border: 4px #fff solid;
}

input:hover {
  border: 4px #888 solid;
  background: #ffffff25;
  box-shadow: 0 0 10px #888;
}

input:hover:focus {
  border: 4px #fff solid;
  border-radius: 0;
  background: #fff;
  box-shadow: 0 0 7px #fff;
}

button{
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  transition: .2s ease;
  background: #0000;
  padding: 10px;
  border-radius: 11px;
  color: #666;
  border: #666 4px solid;
  font-weight: bold;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  fill: #666;
  height: 51px;
  margin: 38px;
}

button::after {
  content: "→";
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  opacity: 0;
  width: 0;
  transition: .2s;
}

button:hover::after, button:focus::after, button:focus-within::after {
  content: "→";
  opacity: 1;
  width: 35px;
  color: #fff;
  font-size: 1rem;
}

button:hover, button:focus {
  color: #fff;
  background: #666;
  box-shadow: 0 0 10px #888;
  fill: #fff;
}

img[src="warning.png"] {
  width: 30px;
  height: auto;
}

img[src="warning.png"]~p{
  color: red;
}

div.line {
  width: 3px;
  height: 18px;
  background: red;
}

div.error-mdp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  border: 4px red solid;
  border-radius: 15px;
  background: #ff00006b;
  width: 50%;
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 420px){
  div.error-mdp{
    display: block;
    padding-top: 8px;
  }
  div.line{
    display: none;
  }
  img[src="warning.png"]{
    float: left;
    clear: none;
    margin: 4.5px;
    margin-right: 10px;
  }
  img[src="warning.png"]~p{
    text-align: justify;
  }
  input:focus {
    border: 4px #fff solid;
    border-radius: 0;
    background: #fff;
    box-shadow: 0 0 7px #fff;
  }
}
